extends layout

block content
    nav
        a(href='/') Home
        a(href='/logout') Logout
    .index
        h1 Apiary API
        h2
            small user
            |  #{data.me.userName}
            small  (user id #{data.me.userId})

        h2 has active following APIs:
        .apis
            table
                thead
                    tr
                        th Name
                        th DocumentationUrl
                        th Subdomain
                        th IsPrivate
                        th IsPublic
                        th IsTeam
                        th IsPersonal

                tbody
                    each API in data.APIs
                        tr
                             td #{API.apiName}
                             td
                                a(href='' + API.apiDocumentationUrl)
                                    | #{API.apiDocumentationUrl}
                             td #{API.apiSubdomain}
                             td #{API.apiIsPrivate}
                             td #{API.apiIsPublic}
                             td #{API.apiIsTeam}
                             td #{API.apiIsPersonal}
