extends layout

block content
    .login
        h1 Login
        form(method='POST' action='/login')
            label(for='email') email:
            input#email(type='text', name='email', required=true)
            label(for='password') password:
            input#password(type='password', name='password', required=true)
            .row
                input#rememberMe(type='checkbox' name='rememberMe')
                label(for='rememberMe') Remember me
            button(type='submit') Log in
