extends layout

block content
    nav
        a(href='/') Home

    .logout
        h1 Logout
        p Do you really want to logout?
        if hasTokenInCookies
            p (Cookies will be deleted as well.)
        form(method='POST' action='/logout')
            button(type='submit') Log out
            a(href='/') Cancel
