//- fleshMessages after redirect
if flashMessages
    if flashMessages.success
        .flashMessage.success #{flashMessages.success}

    if flashMessages.error
        .flashMessage.error #{flashMessages.error}

    if flashMessages.info
        .flashMessage.info #{flashMessages.info}

//- messages as options from view
if messages
    if messages.success
        .flashMessage.success #{messages.success}

    if messages.error
        .flashMessage.error #{messages.error}

    if messages.info
        .flashMessage.info #{messages.info}
