body > .index {
  h1 {
    //text-align: center;
  }

  p {
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td{
      padding: 0.75rem;
      text-align: left;
    }

    thead{
      th{
        color: #fff;
        background-color: #343a40;
        border-color: #454d55;
      }
    }
  }

}