body > .login {
  h1 {
    text-align: center;
  }

  form {
    width: 200px;
    margin-left: auto;
    margin-right: auto;

    input[name="email"], input[name="password"] {
      width: 100%;
    }
  }
}