body > .logout {
  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      margin-left: 10px;
    }
  }
}