body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
nav > a {
  padding: 10px;
}
body > .flashMessage {
  position: relative;
  padding: 0.75rem 2.5rem 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
body > .flashMessage.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
body > .flashMessage.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
body > .flashMessage.info {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
body > .flashMessage::after {
  font-size: 1.5rem;
  content: 'x';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2rem;
  text-align: center;
  padding-top: 0.3rem;
}
body > .flashMessage:hover::after {
  color: #000;
}
body > .index p {
  text-align: center;
}
body > .index table {
  width: 100%;
  border-collapse: collapse;
}
body > .index table th,
body > .index table td {
  padding: 0.75rem;
  text-align: left;
}
body > .index table thead th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}
body > .login h1 {
  text-align: center;
}
body > .login form {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
body > .login form input[name="email"],
body > .login form input[name="password"] {
  width: 100%;
}
body > .logout h1 {
  text-align: center;
}
body > .logout p {
  text-align: center;
}
body > .logout form {
  display: flex;
  align-items: center;
  justify-content: center;
}
body > .logout form a {
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */