body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  & > a {
    padding: 10px;
  }
}

// color schema https://getbootstrap.com/docs/4.3/components/alerts/
body > .flashMessage {
  position: relative;
  padding: .75rem 2.5rem .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  &.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  &.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  &.info {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }

  &::after {
    font-size: 1.5rem;
    content: 'x';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
    text-align: center;
    padding-top: 0.3rem;
  }
  &:hover::after {
    color: #000;
  }
}

@import "index";
@import "login";
@import "logout";
